* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
}

.App {
  max-width: 60vw;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

.App ul {
  list-style: none;
}

.input-section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-radius: 2px;
}

.task-input {
  min-width: 100px;
  flex-grow: 2;
  height: 2em;
  padding: 0 0.3em 0;
  border: thin solid #acacac;
  border-right: none;
  border-radius: 2px 0 0 2px;
  outline: none;
}

.button-add {
  flex-shrink: 0;
  width: 100px;
  padding-top: 2px;
  color: #fefefe;
  border: none;
  background-color: #ff8e72;
  outline: none;
  cursor: pointer;
  transition: transform .05s;
}

.button-add:active {
  transform: scale(1.05);
}

.completed {
  visibility: hidden;
}

.completed::before {
  display: block;
  content: "";
  width: 60%;
  margin: 20px auto;
  border-bottom: thin solid #acacac;
}

.task {
  display: flex;
  min-height: 2.5em;
  margin: 10px 0;
  text-align: left;
}

.task-text{
  flex-grow: 2;
  display: flex;
  align-items: center;
  padding-left: 5px;
  border: thin solid #acacac;
  border-right: none;
}

.task.done {
  background-color: #377771;
}

.task.done .task-text{
  color: #fefefe;
  border: thin solid #377771;
}

.task-text span {
  line-height: 1.5em;
}

.button-check {
  flex-shrink: 0;
  width: 45px;
  text-align: center;
  color: #fefefe;
  background-color: #377771;
  border: none;
  outline: none;
  cursor: pointer;
}

.button-delete {
  flex-shrink: 0;
  width: 45px;
  text-align: center;
  color: #fefefe;
  background-color: #ed6a5e;
  border: none;
  outline: none;
  cursor: pointer;
}

.icon-disabled {
  pointer-events: none;
}

@media only screen and (max-width: 350px) {
  .button-add {
    width: 80px;
    font-size: 0.8em;
  }
  .button-check {
    width: 35px;
  }
  .button-delete {
    width: 35px;
  }
}

@media only screen and (max-width: 800px) {
  .App {
    max-width: 90vw;
  }
}